<header class="pageHeader">
  <h3><i class="fa fa-handshake-o fa-lg page-caption" aria-hidden="true"></i> Your Children </h3>
</header>

<div class="row">
  <div class="col-3">
    <img src="assets/images/home.png" class="img-fluid" alt="Fixed image">
  </div>
  <div class="col-9">
    <h2>Education Description</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor lacinia diam, et vestibulum tortor congue ac. Vivamus auctor mi et diam porta, in dignissim ligula ornare. Aliquam erat volutpat. Sed porttitor erat eget vestibulum gravida. Etiam finibus dui non orci placerat, ut sollicitudin metus condimentum.</p>
    <div class="row mt-3">
      <div class="col-3">
        <button type="button" class="btn btn-primary btn-block py-3 px-5 bold-button" (click)="goToLogin('lerner')">Lerner</button>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary btn-block py-3 px-5 font-weight-bold" (click)="goToLogin('parent')">Parent</button>
      </div>
    </div>
  </div>
</div>
