<div class="container mt-3">
  <ul class="list-group">
    <li *ngFor="let option of options" class="list-group-item">
      <div class="d-flex flex-row align-items-center">
        <!-- Form Check -->
        <div class="form-check me-2 flex-shrink-1">
          <input *ngIf="!option.isEditing" class="form-check-input" type="checkbox" [(ngModel)]="option.isCorrect" disabled>
          <input *ngIf="option.isEditing" class="form-check-input" type="checkbox" [(ngModel)]="option.isCorrect">
        </div>
        <!-- CKEditor Display with Conditional Class for Width -->
        <div class="flex-grow-1 me-2" [ngClass]="{'flex-lg-grow-0': option.isEditing, 'w-auto': option.isEditing, 'w-100': !option.isEditing}">
          <ckeditor *ngIf="!option.isEditing" [editor]="editor" [(ngModel)]="option.optionText" [config]="{ toolbar: [] }" [readOnly]="true"></ckeditor>
          <ckeditor *ngIf="option.isEditing" [editor]="editor" [(ngModel)]="option.optionText" [config]="{ toolbar: [] }"></ckeditor>
        </div>
        <!-- Button Container with Wrapping Control -->
        <div class="flex-shrink-1 d-flex flex-row">
          <button *ngIf="!option.isEditing" class="btn btn-primary btn-sm me-2" (click)="startEdit(option)">Edit</button>
          <button *ngIf="option.isEditing" class="btn btn-success btn-sm me-2" (click)="saveEdit(option, option.optionText)">Save</button>
          <button *ngIf="option.isEditing" class="btn btn-warning btn-sm me-2" (click)="cancelEdit(option)">Cancel</button>
          <button class="btn btn-danger btn-sm" (click)="deleteOption(option.id)">Delete</button>
        </div>
      </div>
    </li>
  </ul>

  <!-- Add Option Form -->
  <form (ngSubmit)="addOption()" class="mt-3">
    <div class="row">
      <div class="col-auto">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" [(ngModel)]="newOptionIsCorrect" id="isCorrect" name="isCorrect">
          <label class="form-check-label" for="isCorrect">Is Correct?</label>
        </div>
      </div>
      <div class="col">
        <ckeditor class="w-100" [(ngModel)]="newOptionText" [editor]="editor" name="newOptionText"></ckeditor>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Add Option</button>
      </div>
    </div>
  </form>
</div>
