<!--<header class="pageHeader">
  <h3><i class="fa fa-tachometer fa-lg page-caption" aria-hidden="true"></i>Family Learning Dashboard</h3>
</header>-->
<div [@fadeInOut]>
  <div #widgetsContainer cdkDropList (cdkDropListDropped)="drop($event)" class="row">
    <div *ngIf="!configurations.showDashboardStatistics && !configurations.showDashboardNotifications &&
         !configurations.showDashboardTodo && !configurations.showDashboardBanner" class="col-12 my-5">
      <div class="card card-body bg-light">
        <h4 class="text-muted text-center text-link">
          {{'home.NoWidgets1' | translate}}
          <a routerLink="/settings" fragment="preferences"><i class="fa fa-sliders"></i> {{'settings.tab.Preferences' | translate}}</a>
          {{'home.NoWidgets2' | translate}}
        </h4>
      </div>
    </div>

    <div class="col-12 mb-4 widget-container px-0">
      <div class="card card-body bg-light">
        <h5 class="card-title text-center">{{'home.StatisticsTitleForTest' | translate}}</h5>
        <div *cdkDragPlaceholder [ngStyle]="{'min-height.px': dashboardStatistics.offsetHeight }" class="widget-container-placeholder mb-4"></div>
        <app-user-subject-coverage-stats></app-user-subject-coverage-stats>
      </div>
    </div>

    


    <!--<div class="col-12 mb-4 widget-container px-0">
      <div class="card card-body bg-light">
        <h5 class="text-muted d-inline-block">{{'home.StatisticsTitleForTest' | translate}}</h5>
        <div *cdkDragPlaceholder [ngStyle]="{'min-height.px': dashboardStatistics.offsetHeight }" class="widget-container-placeholder mb-4"></div>
        <app-user-test-report></app-user-test-report>
      </div>
    </div>-->

    <div class="col-12 mb-4 widget-container px-0">
      <div class="card card-body bg-light">
        <h5 class="card-title text-center">Overall Report</h5>
        <div *cdkDragPlaceholder [ngStyle]="{'min-height.px': dashboardStatistics.offsetHeight }" class="widget-container-placeholder mb-4"></div>
        <app-subject-analysis-report></app-subject-analysis-report>
      </div>
    </div>



  </div>
</div>




